     <section>
	    <article class="fullWidth bkImg insetText">

            <article class="inImageArticle">
                <header class="halfMarginBottom">
		            <h1>Hello. We Build BIG Websites</h1>
                </header>

                <header class="halfMarginBottom">
		            <h3>From CMS to Booking Engines.</h3>
                </header>

                <p class="paragraphMarginBottom"><strong>Ctrl Shift Escape</strong> are the union of creative thinking and technical brilliance.</p>

                <p class="paragraphMarginBottom">One dude that stresses over the emotions evoked by colour and kerning, and one who gets emotional when confronted by the misuse of TempData: 
                <strong>two guys that know what they’re talking about.</strong></p>

                <p class="halfMarginBottom">Specialising in complex web systems, proficient creating anything that appears in your browser.</p>

                <a class="transBtn textCenter" href="/"><span class=bodyFont><strong>Find Out More</strong></span></a>
            </article>
        </article>
    </section>


   <section>
	    <article class="mainArticle">
            <header class="halfMarginBottom">
		        <h1>Main Content</h1>
            </header>

            <header class="halfMarginBottom">
                <h2>Header 2</h2>
            </header>

            <header class="halfMarginBottom">
                <h3>Header 3</h3>
            </header>

            <p class="paragraphMarginBottom">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at est sem, vitae molestie enim. 
            Fusce faucibus ultrices massa at scelerisque. Praesent egestas pharetra nisl, vel placerat arcu pharetra ac.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at est sem, vitae molestie enim. 
            Fusce faucibus ultrices massa at scelerisque. Praesent egestas pharetra nisl, vel placerat arcu pharetra ac.</p>
	    </article>

	    <article class="sideArticle">
            <header class="halfMarginBottom">
		        <h1>Side Bar</h1>
            </header>
                <ul class="styledList">
                    <li><a href="Default.aspx">List item 1 link</a></li>
                    <li>List item 2</li>
                    <li><a href="Default.aspx">List item 3 link</a></li>
                    <li>List item 4</li>
                </ul>
	    </article>
	</section>

    <section>
	    <article class="largeModule">
		    <h2>Large Module</h2>
	    </article>

	    <article class="largeModule">
		    <h2>Large Module</h2>
	    </article>

	</section>

    <section>
        <article class="fullArticle nestReset">
            <div class="nestedContainer">
                <article class="nestedModule nestedMarginBottom">
		            <h3>Small Nested Module</h3>
	            </article>

                <article class="nestedModule nestedMarginBottom">
		            <h3>Small Nested Module</h3>
	            </article>

                <article class="nestedModule">
		            <h3>Small Nested Module</h3>
	            </article>

                <article class="nestedModule">
		            <h3>Small Nested Module</h3>
	            </article>
            </div>
        </article>
    </section>

    <section>
        <article class="smallModule">
		<h3>Small Module</h3>
	    </article>

        <article class="smallModule">
		<h3>Small Module</h3>
	    </article>

        <article class="smallModule">
		<h3>Small Module</h3>
	    </article>

        <article class="smallModule">
		<h3>Small Module</h3>
	    </article>
    </section>