* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
section,
article {
  *zoom: 1;
}
section:before,
article:before,
section:after,
article:after {
  content: "";
  display: table;
}
section:after,
article:after {
  clear: both;
}
body {
  line-height: 1;
  width: 100%;
  font-size: 42.5%;
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
.innerVerticalPad {
  padding: 2em 0;
}
.fullMarginBottom {
  margin-bottom: 4em !important;
}
.halfMarginBottom {
  margin-bottom: 2em;
}
.quarterMarginBottom {
  margin-bottom: 1em;
}
.relative {
  position: relative;
}
.inlineBlock {
  display: inline-block;
}
.floatLeft {
  display: inline;
  float: left;
}
.floatRight {
  display: inline;
  float: right;
}
.fullWidth,
.fullArticle,
.mainArticle,
.sideArticle,
.largeModule,
.smallModule,
.nestedMarginBottom {
  margin-bottom: 2% !important;
}
.ssDisplayNone {
  display: none !important;
}
.bsDisplayNone {
  display: block !important;
}
.nestedContainer {
  padding: 2% !important;
}
.fullArticle {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
}
.fullArticle .nestedContainer {
  display: block;
  width: 102.08333333333333%;
  margin: 0 -1.0416666666666665%;
  *width: 102.03125%;
  *margin: 0 -1.0937499999999997%;
  *zoom: 1;
}
.fullArticle .nestedContainer:before,
.fullArticle .nestedContainer:after {
  content: "";
  display: table;
}
.fullArticle .nestedContainer:after {
  clear: both;
}
.fullArticle .nestedModule {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
  padding: 4em;
}
.nestReset {
  padding: 0% !important;
}
.mainArticle {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
}
.sideArticle {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin: 0 1.0416666666666665%;
  *width: 97.86458333333333%;
  *margin: 0 0.9895833333333331%;
}
.largeModule {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
}
.smallModule {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin: 0 1.0416666666666665%;
  *width: 47.864583333333336%;
  *margin: 0 0.9895833333333331%;
}
.inImageArticle {
  width: 100%;
}
@media screen and (min-width: 460px) {
  body {
    font-size: 52.5%;
  }
}
@media screen and (min-width: 720px) {
  .ssDisplayNone {
    display: inline-block !important;
  }
  .bsDisplayNone {
    display: none !important;
  }
  body {
    font-size: 62.5%;
  }
  .fullArticle {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 97.86458333333333%;
    *margin: 0 0.9895833333333331%;
  }
  .fullArticle .nestedContainer {
    display: block;
    width: 102.08333333333333%;
    margin: 0 -1.0416666666666665%;
    *width: 102.03125%;
    *margin: 0 -1.0937499999999997%;
    *zoom: 1;
  }
  .fullArticle .nestedContainer:before,
  .fullArticle .nestedContainer:after {
    content: "";
    display: table;
  }
  .fullArticle .nestedContainer:after {
    clear: both;
  }
  .fullArticle .nestedModule {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    *width: 22.864583333333332%;
    *margin: 0 0.9895833333333331%;
    padding: 4em;
  }
  .mainArticle {
    display: inline;
    float: left;
    width: 72.91666666666666%;
    margin: 0 1.0416666666666665%;
    *width: 72.86458333333333%;
    *margin: 0 0.9895833333333331%;
  }
  .sideArticle {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    *width: 22.864583333333332%;
    *margin: 0 0.9895833333333331%;
  }
  .smallModule {
    display: inline;
    float: left;
    width: 22.916666666666664%;
    margin: 0 1.0416666666666665%;
    *width: 22.864583333333332%;
    *margin: 0 0.9895833333333331%;
  }
  .fullWidth,
  .fullArticle,
  .mainArticle,
  .sideArticle,
  .largeModule,
  .smallModule,
  .nestedModule,
  .nestedMarginBottom {
    margin-bottom: 0 !important;
  }
  section {
    margin-bottom: 2%;
  }
  .inImageArticle {
    width: 50%;
  }
}
