.fullWidth,
.fullArticle,
.mainArticle,
.sideArticle,
.largeModule,
.smallModule,
footer {
  padding: 4em;
  background-color: #ddd;
}
:hover:not(.close-btn) {
  -o-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.nestedModule {
  background-color: #fff;
}
.textCenter {
  text-align: center;
}
.borderBottom {
  border-bottom: 1px solid #bbbbbb;
}
.boxShadow {
  -webkit-box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.1);
}
.insetText {
  -webkit-text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4);
}
.bsLogo {
  background: url('/Content/cseLogo.svg') no-repeat;
  position: relative;
  width: 200px;
  height: 138px;
  top: 20px;
  vertical-align: middle;
  border-bottom: none !important;
}
.transBtn {
  display: block;
  width: 20em;
  padding: 2em;
  border: 1px solid rgba(25, 25, 25, 0.5);
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2), 0px 2px 6px rgba(0, 0, 0, 0.2);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.74) 0%, rgba(255, 255, 255, 0.22) 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.74)), color-stop(100%, rgba(255, 255, 255, 0.22)));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.74) 0%, rgba(255, 255, 255, 0.22) 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.74) 0%, rgba(255, 255, 255, 0.22) 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.74) 0%, rgba(255, 255, 255, 0.22) 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.74) 0%, rgba(255, 255, 255, 0.22) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdffffff', endColorstr='#38ffffff', GradientType=0);
  /* IE6-9 */

}
.transBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: none;
  box-shadow: none;
}
